body {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.choices img{
	opacity: 0.5;
	cursor: pointer;
	transition: 0.6s all ease;
	height: 140;
	width: 140;
}

.choices img:hover {
	opacity: 1;

}

